.langMenuBtn{
  direction: ltr;
  position: absolute;
  top: 15px;
  right: 100px;
}

.langMenuFlag{
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin: 0 10px;
  margin-top: -3px;
}

.langBtn{
  text-decoration: none;
  direction: ltr;
  text-align: left;
}
