<div class="topHeader cardBackgroundColor">
  <img src="/Dictionary/assets/img/color-dictionary2.svg" class="headerLogo" alt="Title">

  <app-lang></app-lang>

  <button class="headerMenuBtn" mat-icon-button [matMenuTriggerFor]="headerMenu"
           matTooltip="Select a theme!">
    <mat-icon class="auto-flip" color="accent">menu</mat-icon>
  </button>

  <mat-menu #headerMenu="matMenu" style="padding: 15px; text-align: left; direction: ltr;">

    <div class="menuUserInfoWrapper">
      <img src="{{ userAvatar }}" class="menuUserInfoAvatar">
      <div class="menuUserInfo">
        <div class="menuUserName titleColor">{{ username }}</div>
        <div class="menuUserEmail">{{ userEmail }}</div>
      </div>
    </div>

    <button mat-menu-item routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      <span i18n class="menuTxt">Profile</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span i18n class="menuTxt">Logout</span>
    </button>

    <button mat-menu-item >
      <mat-icon>dark_mode</mat-icon>
      <span i18n class="menuTxt">Dark Mode</span>
      <mat-slide-toggle (change)="toggleDarkness($event)" [checked]="isDarkTheme" class="darkModeSwitch"></mat-slide-toggle>
    </button>

  </mat-menu>

</div>
<nav class="header cardBackgroundColor">

  <mat-form-field appearance="legacy" class="searchForm titleColor">
    <mat-label i18n>Search</mat-label>
    <input matInput id="searchInput" placeholder="Type Something..." i18n-placeholder="Type Something..." type="text" [(ngModel)]="filterTxt" (keyup)="searchWord()">
    <mat-icon matSuffix color="primary">search</mat-icon>
  </mat-form-field>

  <div class="headerSelectorsWrapper">

    <mat-form-field appearance="outline" class="headerSelect">
      <mat-label i18n>Sort By:</mat-label>
      <mat-select [(value)]="sortType" (selectionChange)="searchWord()" >
        <mat-option value="1">A to Z</mat-option>
        <mat-option value="2">Z to A</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="headerSelect">
      <mat-label i18n>Filter By:</mat-label>
      <mat-select [(value)]="filterType" (selectionChange)="searchWord()">
        <mat-option *ngFor="let letter of alphabet" [value]="letter.value">
          {{letter.viewValue}}
        </mat-option>

      </mat-select>
    </mat-form-field>

  </div>

</nav>
