.topHeader{
  z-index: 19;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
}

.headerLogo{
  width: 150px;
}

.header{
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0 50px;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.searchForm{
  display: inline-block;
  width: 40%;
  font-size: 18px;
  direction: ltr;
}

.searchForm:lang(fa){
  font-family: Vazirmatn, "Helvetica Neue", sans-serif;
}

.headerSelectorsWrapper{
  display: flex;
  align-items: center;
  align-self: center;
  margin: 0 30%;
}

.headerSelect{
  flex: 1;
  margin: 0 20px;
  font-size: 14px;
  min-width: 80px;
  max-width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.headerSelect:lang(fa){
  font-family: Vazirmatn, "Helvetica Neue", sans-serif;
}

.headerMenuBtn{
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 100;
}

.darkModeSwitch{
  padding: 0 20px;
}

.menuTxt:lang(fa){
  font-family: Vazirmatn, "Helvetica Neue", sans-serif;
}

.menuUserInfoWrapper{
  padding: 3px 0;
}

.menuUserInfoAvatar{
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 43px;
  background-size: cover;
  object-fit: cover;
  border-radius: 100px;
  margin: 0 12px;
}

.menuUserInfo{
  display: inline-block;
  vertical-align: middle;
}

.menuUserName{
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  max-lines: 1;
}

.menuUserEmail{
  font-size: 12px;
  color: #838383;
  white-space: nowrap;
  overflow: hidden;
  max-lines: 1;
}

@media screen and (max-width: 750px){

  .searchForm{
    width: 60%;
  }

  .headerSelectorsWrapper{
    margin: 0 10%;
  }
}

@media screen and (max-width: 500px){

  .searchForm{
    width: 80%;
  }

  .headerSelectorsWrapper{
    margin: 0 2%;
  }
}
