<div class="mainBackground">
  <app-header (filterTxtEmitter)="getFilterTxt($event)"></app-header>

  <div class="matIndicatorWrapper" *ngIf="showProgress"><mat-spinner class="matIndicator" diameter="80"></mat-spinner></div>
  <div class="listWrapper" *ngIf="!showProgress">

    <app-word-item [words]="words | filter:filterTxt:sortType:filterType" [@listAnim]></app-word-item>

    <div id="emptyWrapper" class="emptyWrapper">
      <mat-icon>manage_search</mat-icon>
      <div>Nothing to show!</div>
    </div>

  </div>

  <div class="example-button-container addBtn">
    <button mat-fab color="accent" aria-label="Add New Item" (click)="openModal(true , 'New Word' , 'Add')">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <app-modal [modalData]="modalData" *ngIf="showModal" (close)="closeModal()" [@modal]></app-modal>
</div>
