.wordItemCard{
  position: relative;
  display: block;
  margin: 20px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.03);
  padding: 25px 30px;
  transition: .2s ease;
}

.wordItemWrapper{
  display: flex;
  align-items: center;
}

.wordsTable{
  width: 97%;
  text-align: left;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
}

.wordsTable:lang(fa){
  font-family: Vazirmatn, "Helvetica Neue", sans-serif;
  text-align: right;
}

.mainWord{
  flex: 1;
  font-size: 30px;
  color: #37383a;
  font-weight: bold;
  text-align: left;
  font-family: Roboto !important;
}

.meaningWord{
  flex: 1;
  font-size: 25px;
  color: #868686;
  font-weight: normal;
  font-family: Vazirmatn;
  text-align: right;
  margin-right: 30px;
}

.meaningWord:lang(fa){
  margin-right: 0;
  margin-left: 30px;
}

.ltrWord{
  text-align: left;
  padding-right: 30px;
}

.rtlWord{
  text-align: right;
  padding-left: 30px;
}

.wordItemMenu{
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100px;
  cursor: pointer;
  transition: .3s ease;
  text-align: center;
}

.wordItemMenu:hover{
  background: #efefef;
}

.tableTitle{
  font-weight: bold;
  font-size: 14px;
}

.englishWord{
  font-weight: bold;
  font-size: 20px;
}

.persianWord{
  text-align: right;
  font-weight: normal;
  font-family: Vazirmatn;
  font-size: 16px;
}

.optionTitle{
  text-align: right;
  width: 100px;
}

.optionTitle:lang(fa){
  text-align: left;
}

.tableOptionWrapper{
  text-align: right;
  width: 100px;
}

.tableOptionWrapper:lang(fa){
  text-align: left;
}

.wordTableMenuBtn:lang(fa){
  font-family: Vazirmatn, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 500px){
  .mainWord{
    font-size: 25px;
  }

  .meaningWord{
    font-size: 20px;
  }

  .optionTitle{
    width: auto;
  }

  .tableOptionWrapper{
    width: auto;
  }

  .englishWord{
    font-size: 16px;
  }

  .persianWord{
    font-size: 14px;
  }
}

@media screen and (max-width: 300px){

  .wordItemWrapper{
    display: block;
  }

  .meaningWord{
    margin-top: 10px;
    margin-right: 10px;
  }

  .meaningWord:lang(fa){
    margin-right: 0;
    margin-left: 10px;
  }
}
