.wordItemCard{
  position: relative;
  display: block;
  margin: 20px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.03);
  padding: 25px 30px;
  transition: .2s ease;
}

.wordItemWrapper{
  display: flex;
  align-items: center;
}

.mainWord{
  flex: 1;
  font-size: 30px;
  color: #37383a;
  font-weight: bold;
  text-align: left;
}

.meaningWord{
  flex: 1;
  font-size: 25px;
  color: #868686;
  font-weight: normal;
  font-family: Vazirmatn;
  text-align: right;
  margin-right: 30px;
}

.ltrWord{
  text-align: left;
  padding-right: 30px;
}

.rtlWord{
  text-align: right;
  padding-left: 30px;
}

.wordItemMenu{
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100px;
  cursor: pointer;
  transition: .3s ease;
  text-align: center;
}

.wordItemMenu:hover{
  background: #efefef;
}

@media screen and (max-width: 400px){
  .mainWord{
    font-size: 25px;
  }

  .meaningWord{
    font-size: 20px;
  }
}

@media screen and (max-width: 300px){

  .wordItemWrapper{
    display: block;
  }

  .meaningWord{
    margin-top: 10px;
    margin-right: 10px;
  }
}
