<div class="loginBackground mainBackground"></div>

<app-lang></app-lang>

<div class="loginCard cardBackgroundColor">

  <h2 id="loginTitle" class="loginTitle primaryTextColor">{{ title }}</h2>

  <form (ngSubmit)="handleLoginForm(fLogin)" #fLogin="ngForm" class="titleColor">
    <mat-form-field appearance="legacy" class="loginInputWrapper">
      <mat-label i18n>Email</mat-label>
      <input matInput
             type="email"
             required
             id="email"
             name="email"
             ngModel
      >
      <mat-error *ngIf="email.invalid">{{ getEmailInputError() }}</mat-error>

    </mat-form-field>

    <mat-form-field appearance="legacy" class="loginInputWrapper">
      <mat-label i18n>Password</mat-label>
      <input matInput
             type="password"
             required
             id="password"
             name="password"
             minlength="6"
             ngModel
      >
      <mat-error *ngIf="password.invalid">{{ getPassInputError() }}</mat-error>
    </mat-form-field>

    <div class="modalBtn">
      <button mat-raised-button
              color="accent"
              [disabled]="!fLogin.valid">{{ isLoginMode ? loginTitle : signUpTitle }}</button>
    </div>

  </form>


  <div class="googleLoginBtn">
    <button (click)="googleLogin()"><img src="/Dictionary/assets/ic/google.svg" class="googleIc"> {{ isLoginMode ? loginTitle : signUpTitle }} <span i18n> With Google Account</span></button>
  </div>

  <button (click)="switchMode()" class="loginSwitchBtn primaryTextColor"><span i18n>Switch to:</span> <span class="accentTextColor">{{ isLoginMode ? signUpTitle : loginTitle }}</span></button>

  <div *ngIf="showModalProgress" class="modalProgressWrapper">
    <mat-spinner class="modalIndicator" [diameter]="20" color="accent"></mat-spinner>
    <p i18n>Please Wait...</p>
  </div>

</div>

