.loginBackground{
  position: fixed;
  perspective: 1px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1f1f1;
}

.loginTitle{
  transition: .3s ease;
  font-size: 32px !important;
  line-height: 50px;
  font-weight: bold;
}

.loginCard{
  position: fixed;
  z-index: 1000;
  top: 18vh;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
  padding: 30px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-top: 50px;
  transition: .6s;
}

.loginCard > h2{
  color: #3949ab;
  font-size: 22px;
}

.closeIc{
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modalBtn{
  text-align: center;
}

.modalBtn > button{
  display: inline-block;
  margin-top: 20px;
}

.meaningInput{
  text-align: right;
  direction: rtl;
}

.modalProgressWrapper{
  margin-top: 20px;
  text-align: center;
  line-height: 25px;
}

.modalIndicator{
  display: inline-block;
  vertical-align: top;
  height: 25px;
  margin: 0 5px;
}

.modalProgressWrapper > p{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #868686;
}

.googleLoginBtn{
  display: block;
  margin-top: 30px;
}

.googleLoginBtn > button{
  background: white;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s ease;
}

.googleLoginBtn > button:hover{
  background: #f1f1f1;
}

.googleIc{
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
  margin-top: -2px;
}

.loginSwitchBtn{
  border: none;
  background: none;
  font-size: 14px;
  color: #3949ab;
  cursor: pointer;
  margin-top: 20px;
}

.loginSwitchBtn > span{
  text-decoration: underline;
  color: #e7297e;
  transition: .3s;
}

.loginSwitchBtn:hover > span{
  font-weight: bold;
}

.mat-form-field{
  display: block;
}

@media screen and (max-width: 350px){

  .loginCard{
    width: auto;
    min-width: auto;
  }
}
