<div class="modalBackground" (click)="closeModal()"></div>
<div class="modalCard cardBackgroundColor" id="modalCard">

  <mat-icon class="closeIc" color="accent" (click)="closeModal()">close</mat-icon>

  <h2 class="modalTitle primaryTextColor">{{ modalData.title }}</h2>

  <form (ngSubmit)="handleModalForm(f)" #f="ngForm" class="titleColor">
    <mat-form-field appearance="legacy" class="modalInputWrapper" style="text-align: left; direction: ltr;">
      <mat-label i18n>English Word</mat-label>
      <input matInput
             type="text"
             required
             id="enWord"
             name="enWord"
             (keydown)="clearWordError()"
             ngModel
             [ngModel]="modalData.editItem.englishWord"
      >
      <mat-error *ngIf="enWord.invalid && !wordError" i18n>Please enter a word</mat-error>
      <mat-error *ngIf="wordError" i18n>This word is already saved!</mat-error>

    </mat-form-field>

    <mat-form-field appearance="legacy" class="modalInputWrapper">
      <mat-label i18n>Meaning</mat-label>
      <input matInput
             type="text"
             required
             id="prWord"
             name="prWord"
             class="meaningInput"
             ngModel
             [ngModel]="modalData.editItem.persianWord"
      >
      <mat-error *ngIf="prWord.invalid" i18n>Please enter a word</mat-error>
    </mat-form-field>

    <div class="modalBtn">
      <button mat-raised-button
              color="accent"
              [disabled]="!f.valid">{{ modalData.buttonTitle }}</button>
    </div>

  </form>

  <div *ngIf="showModalProgress" class="modalProgressWrapper">
    <mat-spinner class="modalIndicator" [diameter]="20" color="accent"></mat-spinner>
    <p i18n>Sending...</p>
  </div>

</div>
